@import "./bootstrap.min.css";
@import "./table.css";

body {
  background: #fefeff;
}

/* start pagenation css */

.pagenation {
  display: flex;
  margin: auto;
  width: 30%;
}

.page-link {
  color: #595c5f !important;
}

.page-item.active a {
  background: #ecf0f7 !important;
  border-color: #ecf0f7 !important;
}


/* end pagenation css */

/* start table css */

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 4px 0 #d8d8d88a;
  border-radius: 3px;
}

th {
  font-size: 14px;
  font-weight: 100;
}

td {
  border-radius: 3px;
  font-size: 12px;
}

/* start table css */

.m-auto {
  margin: auto;
  width: 84.4%;
  min-width: 1200px;
}


/* start breadcrumbs css */
.breadcrumbs {
  font-size: 0.85em;
  color: #ccc;
  line-height: 1.5;
  margin: 18px;
  padding-left: 0;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}


.breadcrumbs li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
  color: gray;
}

.breadcrumbs li:before {
  content: ">";
  padding-right: 5px;
  padding-left: 5px;
  color: gray;
}

.breadcrumbs a {
  color: #4770b1;
  text-decoration: none;
}

.breadcrumbs li:first-child:before {
  content: "";
  padding-right: 0;
}

/* end breadcrumbs css */

.page-item .page-link {
  border: 0 !important;
  box-shadow: none !important;
}

.page-item.active .page-link {
  border-radius: 5px !important;
  font-weight: bold;
  
}

.page-item .page-link:hover {
  border-radius: 5px !important;
}


/* start common classes */
.d-block {
  display: block;
}

.blue-btn {
  height: 30px;
  margin-top: auto;
  background: #0f499b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  max-width: 130px;
}
.blue-btn:hover{
  background: #0c3876;
}

.form-group input,
.form-group select {
  width: 100%;
  font-size: 12px;
  height: 30px;
  border-radius: 4px;
  border-color: #ededed;
  border: 1px solid #ededed;
  padding: 0px 10px;
}

.form-group:first-child {
  margin-left: 0 !important;
}

.form-group {
  margin-left: 10px;
  width: 100%;
}

label {
  font-size: 12px;
}
/* end common classes */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d2na1s');
  src:  url('fonts/icomoon.eot?d2na1s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d2na1s') format('truetype'),
    url('fonts/icomoon.woff?d2na1s') format('woff'),
    url('fonts/icomoon.svg?d2na1s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-up, .icon-circle-down{
  color: #cdc9c9;
  cursor: pointer;
}
.icon-circle-up:hover, .icon-circle-down:hover{
  color: #0f499b;
}